<!DOCTYPE html>
<html>
<head>
  <title>Cuiner</title>
  <style>
    body {
      width: 500px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <blockquote class="twitter-tweet" lang="en"><p>Culinária chinesa ou pratos russos ? A galera do Cuiner traz o Chef do seu prato predileto p/ sua festa ! <a href="https://twitter.com/hashtag/hackinpoa?src=hash">#hackinpoa</a> <a href="http://t.co/e2aFHUNI6H">pic.twitter.com/e2aFHUNI6H</a></p>&mdash; Danilo Moura (@danilomoura) <a href="https://twitter.com/danilomoura/status/586912965976334336">April 11, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>

