/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';
@import 'form';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'fonts/roboto';
@import 'fonts/kievit';
@import 'modal';

html,
body,
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  position: relative;
  font-family: 'kievit', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  
  overflow-x: hidden;
  overflow-y: scroll;
}

p
{
	line-height:normal;
	padding:0;
	margin:0;
}


  
.page
{
  left: 0px;
  top: 0px;
  
  .sections
  {
	  
	  .s0
	  {
		  height: 90px;
			  
		  .logo
		  {
			  left: 115px;
			  top: 50%;
			  height:50px;
			  margin-top: -30px;
		  }
		  
		  .menu
		  {
			
			  right: 0px;
			  top: 50%;
			  margin-top: -20px;
			width: 350px;
		    height:60px;
			
			a {  color: #9c9ba0; }
			
			span { user-select: none; }
			
			a:nth-child(1) 
			{
				margin-right: 10px;
				span:nth-child(1) { top: 4px; margin-right: 5px; }
				span:nth-child(2) { margin-right: 2px; }
				span:nth-child(3) { top: 1px; }
			}
			a:nth-child(2) 
			{
				margin-right: 30px;
			}
			
			.menu-logout
			{			
				top:15px;
				right:35px;
			}
				
			.menu-login
			{			
				top:15px;
				right:35px;
				
				margin-top: -20px;
				
				a:nth-child(1) 
				{
					.user-photo
					{
						width:45px;
						height: 25px;
					}
					margin-right: 10px;
					span:nth-child(1) { top: 4px; margin-right: 5px; }
					span:nth-child(2) { margin-right: 2px; }
					span:nth-child(3) { top: 1px; }
					
					img:nth-child(1) { width: 45px; height: 45px; }
					img:nth-child(2) { width: 45px; height: 45px; }
				}					
			}
			
		  }
	  }
	  
	  .s1
	  {
		  .header
		  {
			  height:305px;
			  background-size: cover;
			  background-position: center;
			  background-image: url("../images/detail/header-churras.jpg");
		  }
		  
		  .title
		  {
			  margin-top: -80px;
			  margin-bottom: 20px;
			  height: 80px;
			  background-color: rgba(0,0,0,0.8);
			  
			  .user-photo
			  {
				  left: 25px;
				  top: 25px;
				  width: 120px;
				  height: 120px;				  
			  }
			  
			  .fields
			  {
				  top: 240px;
				  left: 160px;		
				  
				  .icon {  margin-right: 5px; }
				  .count { margin-top: 0px; }
			  }
		  }
		  
		  .bio
		  {
			  left: 170px;
			  width: 500px;
			  margin-bottom: 40px;
			  
			  p:nth-child(1) { margin-bottom: 10px; }
		  }
		  
		  .gallery
		  {
			  left: 170px;
			  margin-bottom: 30px;
		  }
		  
		  button
		  {
			  left: 170px;
			  width:150px;
			  margin-bottom: 30px;
		  }
	  }
	  
	  .s2
	  {
		  height: 115px;
		  background-color: #e2b250;
		  div
		  {
			  left: 50%;
			  top: 50%;
			  width: 880px;
			  height:50px;
			  margin-left: -440px;
			  margin-top: -25px;
			  button { width:255px; height: 45px; }
			  span { margin-right: 20px; }
		  }
	  }
	  
	  .s3
	  {
		  height: 70px;
		  .logo 
		  { 
			  left: 160px;
			  top: 50%;
			  height: 50px;
			  margin-top: -25px;
		  }
		  
		  .footer 
		  { 
			  right: 120px;
			  top: 50%;			  
			  margin-top: -15px;
		  }
	  }
	  
	  .s4
	  {
		  background-color: #9c9ba0;
		  div
		  {
			  left: 50%;
			  margin-left: -400px;
			  width: 800px;
			  padding: 20px;
			  input:nth-child(1) { width:290px; }
			  input:nth-child(2) { width:135px; }
			  input:nth-child(3) { width:135px; }
			  button { top: 2px; }
		  }
	  }
	  
  }
 
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) 
{
	
  
  
}


