.modal
{

  transition: opacity 0.4s ease-out;  
  position: fixed;
  left: 0px;
  top: 0px;
  .background
  {
	  background-color: rgba(0,0,0,0.6);
  }
  
  .register
  {
	  left:50%;
	  top:50%;	  
	  margin-left: -170px;
	  margin-top: -272px;
	  width:340px;
	  height: 545px;	  
	  background-color: #fff;
	  
	  .content
	  {
		  top: 15px;
		  left: 50%;
		  width: 290px;
		  margin-left: -145px;
		  //background-color: rgba(255,30,30,0.2);
		  
		  p { margin-top: 5px; margin-bottom:5px; }
		  
		  .logo 
		  {
			  margin-left: 80px;
			  width: 135px; 
		  }
		  
		  input { width: 260px; margin-bottom: 20px; }
		  button { width: 290px; margin-bottom: 0px; }
		  
		  .lb-result
		  {
			  margin-top: -10px;
		  }
		  .bt-social
		  {
			  margin-left: 70px;
			  margin-bottom: 10px;
		  }
	  }
  }
  
   .login
  {
	  left:50%;
	  top:50%;	  
	  margin-left: -170px;
	  margin-top: -200px;
	  width:340px;
	  height: 400px;	  
	  background-color: #fff;
	  
	  .content
	  {
		  top: 15px;
		  left: 50%;
		  width: 290px;
		  margin-left: -145px;
		  //background-color: rgba(255,30,30,0.2);
		  
		  p { margin-top: 5px; margin-bottom:5px; }
		  
		  .logo 
		  {
			  margin-left: 80px;
			  width: 135px; 
		  }
		  
		  input { width: 260px; margin-bottom: 20px; }
		  button { width: 290px; margin-bottom: 0px; }
		  
		  .lb-result
		  {
			  margin-top: -10px;
		  }
		  .bt-social
		  {
			  margin-left: 70px;
			  margin-bottom: 10px;
		  }
	  }
  }
  
  .shop-alert
  {
	  left:50%;
	  top:50%;	  
	  margin-left: -170px;
	  margin-top: -200px;
	  width:340px;
	  height: 350px;	  
	  background-color: #fff;
	  
	  .content
	  {
		  top: 15px;
		  left: 50%;
		  width: 290px;
		  margin-left: -145px;
		  //background-color: rgba(255,30,30,0.2);
		  
		  p { margin-top: 5px; margin-bottom:5px; }
		  
		  .logo 
		  {
			  margin-left: 80px;
			  width: 135px; 
		  }
		  
		  input { width: 260px; margin-bottom: 20px; }
		  button { width: 290px; margin-bottom: 0px; }
		  
		  .lb-result
		  {
			  margin-top: -10px;
		  }
		  .bt-social
		  {
			  margin-left: 70px;
			  margin-bottom: 10px;
		  }
	  }
  }
  
}